<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid" style="margin-top: 5px;">
    <div class="nav">
      <span class="navbar-toggler-icon" style="margin-left: 10px;"></span>
      <h5>Infosys NIA</h5>
    </div>
    <div class="justify-content-center">
      <button type="button" class="btn detailsLayout" style="font-family: Roboto-Medium;">DETAILS LAYOUT</button>
    </div>

    <div class="icons justify-content-end">
      <ul class="nav">
        <li class="nav-item">
          <i class="bi bi-search"></i>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button style="border-color: #FFFFFF;font-size: 14px;font-family: Roboto-Regular;"
              class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Choose Project
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <i class="bi bi-bell"></i>
        </li>
        <li class="nav-item">
          <i class="bi bi-person-circle"></i>
        </li>
      </ul>
    </div>

  </div>

</nav>



<div class="sidebar" style="text-align:center;">
  <ul class="menu">
    <li>
      <ul>
        <li><a href="#"><span class='bi bi-file-bar-graph-fill'
              style="color: gray;position: relative;bottom:10px;"></span></a></li>
        <li><a href="#"><span class="bi bi-send-arrow-down" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-trash" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-exclamation-octagon" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-chat-right-fill" style="color: gray"></span> </a></li>
        <li><a href="#"><span class="bi bi-flag-fill" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-file-earmark-fill" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-cart-fill" style="color: gray"></span></a></li>
        <li><a href="#"><span class="bi bi-people-fill" style="color: gray"></span> </a></li>
        <li><a href="#"><span class="bi bi-chevron-right" style="color: gray"></span></a></li>
      </ul>
    </li>

  </ul>
</div>






<nav class="navbar navbar-light bg-light"
  style="border-bottom: 1px solid rgba(0,0,0,0.10);font-size: 14px;padding-top: 10px;padding-bottom: 10px;margin-left: 3rem;">
  <div class="container-fluid" style="color:  #000000;font-size: 18px;">
    <div class="nav">
      <span>
        <i class="bi bi-arrow-left"></i>
        <span style="margin-left: 6px;font-family: Roboto-Regular;">Vendor Contracts</span>
        <i class="bi bi-chevron-right" style="margin-left: 6px;"></i>
        <span style="margin-left: 6px;font-family: Roboto-Medium;">Fixed Price Contracts - English</span>
      </span>

    </div>
    <div class="justify-content-center">
      <button type="button" class="btn assigned" style="font-family: Roboto-Medium;">Assigned</button>
    </div>

    <div class="">
      <button type="button" class="btn btn-light" style="width: 10rem;font-family: Roboto-Medium;border: 1px solid #979797;color: #979797;margin-right: 10px;font-size: 14px;">CANCEL</button>
      <button type="button" class="btn btn-primary" style="width: 10rem;font-family: Roboto-Medium;font-size: 14px;">SAVE</button>
    </div>
    

  </div>
</nav>


<div class="container-fluid" style="box-shadow: 0 2px 4px 0;color: rgba(0,0,0,0.15);background-color:  #FFFFFF;border-radius: 4px 4px 0 0;margin-top: 10px;margin-left: 5rem;">
  <nav class="navbar" style="font-family: Roboto-Medium;font-size: 14px;color:  rgba(0,0,0,0.54);"> 
        <ul class="nav">
          <li class="nav-item">
            <span>INTENTS</span>
          </li>
          <li class="nav-item">
            <span>DOCUMENTS</span>
          </li>
          <li class="nav-item">
            <span>STATISTICS</span>
          </li>
        </ul>
  </nav>
</div>


<div class="container-fluid" style="margin-top: 30px;margin-left: 18rem;">
  <div class="d-flex justify-content-between" style="margin-bottom: 20px;font-family: Roboto-Regular;font-size: 14px;color: rgba(0,0,0,0.75);">
    <div>Basic information</div>
  </div>
  <div class="d-flex justify-content-between" style="box-shadow: 0 0px 4px 0;color: rgba(0,0,0,0.15);background-color:  #FFFFFF;border-radius: 4px 4px 0 0;width: 55%;">

    <div class="d-flex">
      <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" placeholder="" name="modelname" value="Sample Model Name" style="width: 21rem;">
        <label for="pwd">Model Name</label>
      </div>
    
      <div class="form-floating mt-3 mb-3" style="padding-left: 10px;width: 30rem;">
        <input type="text" class="form-control" placeholder="" name="description" value="Point of Sale data from Relaince Fresh,Hyderabad">
        <label for="pwd">Model Description</label>
      </div>

    </div>
    
  </div>
  </div>

  <div class="container-fluid" style="margin-top: 30px;margin-left: 18rem;">
    <div class="d-flex justify-content-between" style="margin-bottom: 20px;font-family: Roboto-Regular;font-size: 14px;color: rgba(0,0,0,0.75);">
      <div>Parameters</div>
    </div>

    <div class="d-flex justify-content-between" style="box-shadow: 0 0px 4px 0;color: rgba(0,0,0,0.15);background-color:  #FFFFFF;border-radius: 4px 4px 0 0;width: 55%;">
  
      <form class="example-form" style="padding: 20px;">
        <div class="d-flex">
        <div class="form-floating mt-3 mb-3">
          <input type="text" class="form-control" placeholder="" name="layer" value="200">
          <label for="pwd">Input Layer Dimension</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="trainRatio" value="48">
          <label for="pwd">Validation to Train Ratio %</label>
        </div>

        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="ratio" value="12">
          <label for="pwd">Miscellaneous Ratio %</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="rate" value="36">
          <label for="pwd">Learning Rate</label>
        </div>

        

      </div>

      <div class="d-flex">
        <div class="form-floating mt-3 mb-3">
          <input type="text" class="form-control" placeholder="" name="activation" value="OWC">
          <label for="pwd">Activation Function</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="modelType" value="Data Format">
          <label for="pwd">Model Type</label>
        </div>

        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="epochs" value="Details Row">
          <label for="pwd">Epochs</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="dimension" value="36">
          <label for="pwd">Embedding Dimension</label>
        </div>

        

      </div>


      <div class="d-flex">
        <div class="form-floating mt-3 mb-3">
          <input type="text" class="form-control" placeholder="" name="filterSize" value="John.Doe">
          <label for="pwd">Filter Size</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="noOFFilter" value="John.Doe">
          <label for="pwd">Number of Filters</label>
        </div>

        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="batchsize" value="John.Doe">
          <label for="pwd">Batch Size</label>
        </div>
      
        <div class="form-floating mt-3 mb-3" style="padding-left: 10px;">
          <input type="text" class="form-control" placeholder="" name="drop" value="Properties">
          <label for="pwd">Drop (Optional)</label>
        </div>

        

      </div>

        
      </form>
      
    </div>
    </div>




